.imagemBgDivCard{
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 55%;
}

.height70{
    height: 70px;
}

.height30{
    height: 30px;
}


